.profile__credentials {
  display: flex;
  align-items: center;
  gap: 18px;
}

@media screen and (max-width: 610px) {
  .profile__credentials {
    gap: 10px;
  }
}

@media screen and (max-width: 525px) {
  .profile__credentials {
    margin-left: 28px;
  }
}