.header__logo {
  width: 142px;
  height: 33px;
  display: block;
  object-fit: cover;
}

@media screen and (max-width: 650px) {
  .header__logo {
    width: 104px;
    height: 24.5px;
    margin-left: 27px;
  }
}