.profile {
  width: 100%;
  display: grid;
  grid-template:
  "profile-pic title edit-button add-button" 7fr
  "profile-pic subtitle subtitle add-button" 5fr / 120px fit-content(450px) 24px auto;
  align-items: center;
}

@media screen and (max-width: 980px) {
  .profile {
    grid-template: 
    "profile-pic title edit-button" 7fr
    "profile-pic subtitle subtitle" 5fr
    "add-button add-button add-button" 80px / auto fit-content(450px) auto;
  }
}

@media screen and (max-width: 650px) {
  .profile{
    grid-template:
    "profile-pic profile-pic" auto
    "title edit-button" 7fr
    "subtitle subtitle" 5fr
    "add-button add-button" 62px / fit-content(450px) auto;
    justify-content: center;
    justify-items: center;
  }
}