.profile {
  max-width: 880px;
  display: grid;
  grid-template-rows: 7fr 5fr;
  grid-template-columns: 120px fit-content(450px) 24px auto;
  grid-template-areas: 
  "profile-pic title edit-button add-button"
  "profile-pic subtitle subtitle add-button";
  align-items: center;
}

/* @media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
  }
}

@media screen and (max-width: 525px) {
  .profile {
    margin-bottom: 36px;
  }
} */