.header {
  max-width: min(880px, calc(100vw - 70px));
  margin: 45px auto 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  box-sizing: border-box;
  opacity: .88;
}

@media screen and (max-width: 650px) {
  .header {
    margin: 28px 0 42px;
    max-width: 100%;
    padding-bottom: 30px;
  }
}