.profile__subtitle {
  color: #fff;
  margin: 8px 0 0 30px;
  padding: 0;
  max-width: 450px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  grid-area: subtitle;
  align-self: flex-start;
}

@media screen and (max-width: 650px) {
  .profile__subtitle {
    margin: 7px 0 0 0;
    max-width: 254px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}