.profile__subtitle {
  color: #fff;
  margin: 8px 0 0 30px;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  grid-area: subtitle;
  align-self: flex-start;
}

@media screen and (max-width: 525px) {
  .profile__subtitle {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
  }
}