.profile__add-button {
  width: 147px;
  height: 47px;
  background-color: transparent;
  background-image: url(../../../images/add.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
  border: 2px #fff solid;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
  margin-top: 36px;
  width: 320px;
  } 
}

@media screen and (max-width: 425px) {
  .profile__add-button {
    margin-top: 32px;
    width: min(320px, calc(100vw - 38px));
  }
}